@media (min-width: 280px) and (max-width: 640px) {
	html {
		font-size: 13px;
	}
	.headerWrapper {
		flex-direction: column;
	}
	.headerNavbar {
		flex-direction: column;
	}
	.barsIndexCall {
		a {
			img {
				max-width: 100%;
			}
		}
	}
	.barList {
		a {
			img {
				max-width: 100%;
			}
		}
	}
	#imgHeaderBars {
		max-width: 100%;
	}
	#gridMenu {
		display: grid;
		grid-template-areas: "headerLogo headerNavbar headerNavbar" "headerLogo headerNavbar headerNavbar" "searchMenu searchMenu searchMenu";
		align-items: center;
	}
	#headerLogo {
		grid-area: headerLogo;
	}
	#headerNavbar {
		grid-area: headerNavbar;
	}
	#searchMenu {
		grid-area: searchMenu;
	}
	main {
		min-width: 90vw;
		max-width: 90vw;
		margin: auto;
	}
	.wrapper {
		min-width: 90vw;
		max-width: 90vw;
		margin: auto;
	}
	h1 {
		font-size: 1.9rem;
	}
	h2 {
		font-size: 1.9rem;
	}
	#goRaiding {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
	#runeList {
		width: 70vw;
		margin: auto;
	}
	.rpgMain__BookCover {
			max-width: 80%;
			height: 40vh;
		}
	.zoom:active {
		transform: scale(2.0);
	  }
	.news {
		img {
		float: left;		
		max-height: 70vh;
		margin-right: 1%;
		min-width: 70vw;
		}
	}
	  
}
@media (min-width: 641px) and (max-width: 720px) {
	html {
		font-size: 15px;
	}
	.headerWrapper {
		max-width: 100%;
	}
	.headerNavbar {
		max-width: 100%;
	}
	.barsIndexCall {
		a {
			img {
				max-width: 100%;
			}
		}
	}
	.barList {
		a {
			img {
				max-width: 100%;
			}
		}
	}
	#imgHeaderBars {
		max-width: 100%;
	}
	#gridMenu {
		display: grid;
		grid-template-areas: "headerLogo" "headerNavbar" "searchMenu";
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		height: 30vh;
	}
	#headerLogo {
		grid-area: headerLogo;
	}
	#headerNavbar {
		grid-area: headerNavbar;
	}
	#searchMenu {
		grid-area: searchMenu;
	}
	main {
		min-width: 90vw;
		max-width: 90vw;
		margin: auto;
	}
	.wrapper {
		min-width: 90vw;
		max-width: 90vw;
		margin: auto;
	}
	#runeList {
		width: 60vw;
		margin: auto;
	}
	.rpgMain__BookCover {
			max-width: 100%;
			height: 60vh;
		}
	#offersCarousel {
		max-height: 50vh;
	}
	.zoom:active {
		transform: scale(2.0);
	  }
	.news {
		img {
		float: left;		
		max-height: 60vh;
		margin-right: 1%;
		min-width: 50vw;
		}
	}	  
}
@media (min-width: 721px) and (max-width: 869px) {
	html {
		font-size: 16px;
	}
	.rpgMain__BookCover {
			max-width: 70%;
			height: 60vh;
			margin-right: 1%;		
	}
	.news {
		img {
		float: left;		
		max-height: 60vh;
		margin-right: 1%;
		min-width: 50vw;
		}
	}	
	.zoom:active {
		transform: scale(1.5);
	  }	  
}
@media only screen and (min-width: 1200px) {
	.rpgMain__article {
			max-width: 100%;
			min-height: 80vh;							
	}
	.rpgMain__BookCover {
			max-width: 60%;
			float: left;
			margin-right: 1%;	
		}
	.zoom:active {
			transform: scale(1.5);
		  }
	#artGallery {
			img {
				max-width: 40vw;
				min-height: 100%;
			}
		}
}
@-webkit-keyframes shadowPop {
	0% {
		-webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
		box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
	}
	100% {
		-webkit-box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
		box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
		-webkit-transform: translateX(-8px) translateY(-8px);
		transform: translateX(-8px) translateY(-8px);
	}
}

@keyframes shadow-pop-br {
	0% {
		-webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
		box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
	}
	100% {
		-webkit-box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
		box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
		-webkit-transform: translateX(-8px) translateY(-8px);
		transform: translateX(-8px) translateY(-8px);
	}
}