@charset "UTF-8";
/*Alumno: Lucas Nicolussi; Profesor: Darío Ceballos; Tutor: Gonzalo Manoukian-->*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

article {
  margin-bottom: 5%;
}

article picture img {
  max-width: 70vw;
  max-height: 40vh;
}

body {
  text-align: center;
  background-color: #fbfafa;
  overflow-y: scroll;
  overflow-x: hidden;
}

header * {
  color: ghostwhite;
  padding: 5px;
  text-decoration: none;
}

.headerWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
  color: ghostwhite;
  background-color: #333333;
  min-width: 100vw;
  font-size: 1rem;
}

.logo {
  border-radius: 30%;
}

.headerNavbar {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
  color: ghostwhite;
}
.headerNavbar li {
  font-family: "Goudy Bookletter 1911", "Gentium Book Basic", sans-serif;
  list-style-type: none;
  color: ghostwhite;
  text-decoration: none;
}

.nav_bar {
  text-decoration: none;
  color: ghostwhite;
}

.callToAct {
  margin: 2.5%;
}

.callToAct a {
  text-decoration: none;
  color: ghostwhite;
  font-family: "Goudy Bookletter 1911", "Gentium Book Basic", sans-serif;
}

#artGallery {
  max-width: 90%;
  margin: auto;
  overflow: hidden;
}
#artGallery h1 {
  width: 90vw;
}
#artGallery h2 {
  width: 90vw;
}

.barsIndexCall {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 2%;
}

h1 {
  font-size: 2.9rem;
  font-family: "Goudy Bookletter 1911", "Gentium Book Basic", sans-serif;
  overflow: hidden;
}

h2 {
  font-size: 2.9rem;
  color: ghostwhite;
  background-color: #333333;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: "Goudy Bookletter 1911", "Gentium Book Basic", sans-serif;
  overflow: hidden;
}

h4 {
  font-size: 1rem;
  font-family: "Goudy Bookletter 1911", "Gentium Book Basic", sans-serif;
  overflow: hidden;
}

h5 {
  overflow: hidden;
}

section {
  overflow: hidden;
}

ul {
  font-family: "Goudy Bookletter 1911", "Gentium Book Basic", sans-serif;
}

li {
  font-family: "Goudy Bookletter 1911", "Gentium Book Basic", sans-serif;
}
li a:hover {
  background-color: darkred;
  transition: all 0.8s;
}

.copyrightStatement {
  font-family: "Goudy Bookletter 1911", "Gentium Book Basic", sans-serif;
  display: block;
}

footer {
  background-color: #333333;
  margin-top: 1%;
}
footer * {
  display: inline-block;
  color: ghostwhite;
  padding: 5px;
  text-decoration: none;
}

textarea {
  resize: none;
  max-width: 80%;
}

.wrapper {
  max-width: 70%;
  margin: auto;
  min-height: 76.5vh;
  overflow: visible;
}

.wrapperContact {
  max-width: 70%;
  min-height: 78vh;
  margin: auto;  
  overflow: visible;
  display: flex;
  flex-direction: row-reverse;
  align-items: center; 
  justify-content: space-evenly;
  gap: 2%;
}

p {
  font-family: "Sawarabi Mincho", monospace, sans-serif;
  text-align: left;
  font-weight: 550;
  line-height: 175%;
}

.submitButton {
  color: black;
}

#searchMenu {
  font-family: "Goudy Bookletter 1911", "Gentium Book Basic", sans-serif;
}

.deployableContent {
  display: none;
  position: absolute;
  background-color: #333333;
  min-width: 160px;
  z-index: 1;
}
.deployableContent:hover .deployableMenu {
  background-color: darkred;
  transition: all 0.8s;
}
.deployableContent a {
  color: ghostwhite;
  font-size: 18px;
  padding: 12px 16px;
  text-decoration: none;
  transition: all 0.8s;
  display: block;
  text-align: left;
}

.deployableMenu:hover .deployableContent {
  display: block;
  transition: all 0.8s;
}

#firstArticleImg {
  border-radius: 50%;
  width: 25%;
  height: 40%;
  float: left;
}

.button {
  padding: 0px;
  border-radius: 50%;
  border-color: transparent;
  display: block;
  margin: auto;
}

.goRaiding {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.news {
  margin-bottom: 10%;
}
.news img {
  float: left;
  width: 40%;
  max-height: 40vh;
  margin-right: 1%;
}
.news p {
  text-indent: 3%;
  margin-bottom: 1%;
}

#runeList {
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-content: center;
}
#runeList ul li {
  list-style-image: url(icons/norseIcon.webp);
  font-size: 1.25rem;
}
#runeList ul ul {
  width: 45%;
  margin: auto;
}
#runeList a {
  text-decoration: none;
}
#runeList a:hover {
  background-color: transparent;
}

.separator {
  margin-top: 2%;
}

.paintings {
  width: 600px;
  height: 350px;
}

.buyBook {
  margin: 2.5%;
}
.buyBook a {
  text-decoration: none;
  color: black;
}

figure img {
  border: 1px solid gold;
}

figure figcaption {
  color: black;
  font-style: italic;
  font-size: 1.25rem;
  width: 100%;
  font-family: "Goudy Bookletter 1911", "Gentium Book Basic", sans-serif;
}

.barList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
}
.barList figure {
  margin-top: 10px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}
.fieldset textarea {
  margin-top: 2%;
}

.shadowPop {
  border-radius: 30%;
  -webkit-animation: shadow-pop-br 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-br 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.carouselPhoto {
  max-height: 90vh;
  max-width: 90vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.rpgMain__BookCover {
  max-width: 100%;
  max-height: 80vh;
}

.rpgMain__article p {
  text-indent: 3%;
  margin-bottom: 1%;
}

.zoom {
  cursor: pointer;
}

#artGallery section .gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.btn--twitter a:hover {
  background-color: dodgerblue;
  transition: all 0.8s;
}

.btn--pinterest a:hover {
  background-color: red;
  transition: all 0.8s;
}

.btn--instagram a:hover {
  background-color: darkviolet;
  transition: all 0.8s;
}

.btn--steam a:hover {
  background-color: black;
  transition: all 0.8s;
}

.btn--facebook a:hover {
  background-color: mediumblue;
  transition: all 0.8s;
}

.label {
  margin-bottom: 2%;
}

.contactForm input, .contactForm p {
  margin-bottom: 1.5%;
}

.submitContact {
  margin-top: 3%;
}

.alignCenter {
  text-align: center;
}

input::placeholder, textarea::placeholder {
  color: rgb(161, 47, 47, 0.5);
  font-style: italic;
}

#searchMenu input::placeholder{
  color: black;
}

.deployableContent a {
  font-size: inherit;
  padding: 4px 6px;}

@media (min-width: 280px) and (max-width: 640px) {
  html {
    font-size: 13px;
  }
  .headerWrapper {
    flex-direction: column;
  }
  .headerNavbar {
    flex-direction: column;
  }
  .barsIndexCall a img {
    max-width: 100%;
  }
  .barList a img {
    max-width: 100%;
  }
  #imgHeaderBars {
    max-width: 100%;
  }
  #gridMenu {
    display: grid;
    grid-template-areas: "headerLogo headerNavbar headerNavbar" "headerLogo headerNavbar headerNavbar" "searchMenu searchMenu searchMenu";
    align-items: center;
  }
  #headerLogo {
    grid-area: headerLogo;
  }
  #headerNavbar {
    grid-area: headerNavbar;
  }
  #searchMenu {
    grid-area: searchMenu;
  }
  main {
    min-width: 90vw;
    max-width: 90vw;
    margin: auto;
  }
  .wrapper {
    min-width: 90vw;
    max-width: 90vw;
    margin: auto;
  }
  h1 {
    font-size: 1.9rem;
  }
  h2 {
    font-size: 1.9rem;
  }
  .goRaiding {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  #runeList {
    width: 70vw;
    margin: auto;
  }
  .rpgMain__BookCover {
    max-width: 80%;
    height: 40vh;
  }
  .zoom:active {
    transform: none;
  }
  .news img {
    display: none;
  }
  .wrapperContact {
  max-width: 90%;
  min-height: 78vh;
  margin: auto;  
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;   
  }
  .wrapperContact div {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .wrapperContact img {
  max-width: 90vw; 
  }
}

@media (min-width: 641px) and (max-width: 720px) {
  html {
    font-size: 15px;
  }
  .headerWrapper {
    max-width: 100%;
  }
  .headerNavbar {
    max-width: 100%;
  }
  .barsIndexCall a img {
    max-width: 100%;
  }
  .barList a img {
    max-width: 100%;
  }
  #imgHeaderBars {
    max-width: 100%;
  }
  #gridMenu {
    display: grid;
    grid-template-areas: "headerLogo" "headerNavbar" "searchMenu";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 30vh;
  }
  #headerLogo {
    grid-area: headerLogo;
  }
  #headerNavbar {
    grid-area: headerNavbar;
  }
  #searchMenu {
    grid-area: searchMenu;
  }
  main {
    min-width: 50vw;
    max-width: 90vw;
    margin: auto;
  }
  .wrapper {
    min-width: 90vw;
    max-width: 90vw;
    margin: auto;
  }
  #runeList {
    width: 60vw;
    margin: auto;
  }
  .rpgMain__BookCover {
    max-width: 100%;
    height: 60vh;
  }
  #offersCarousel {
    max-height: 50vh;
  }
  .zoom:active {
    transform: none;
  }
  .news img {
    float: left;
    max-height: 60vh;
    margin-right: 1%;
    min-width: 50vw;
  }
  .deployableContent a {
    font-size: inherit;
    padding: 7px 9px;
  }
  .wrapperContact {
    max-width: 80%;
    min-height: 78vh;
    margin: auto;  
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;   
    }
    .wrapperContact div {
      margin-top: 2%;
      margin-bottom: 2%;
    }
    .wrapperContact img {
    max-width: 90vw; 
    }
}

@media (min-width: 721px) and (max-width: 1199px) {
  html {
    font-size: 16px;
  }
  .rpgMain__BookCover {
    max-width: 70%;
    height: 60vh;
    margin-right: 1%;
  }
  .news img {
    float: left;
    max-height: 60vh;
    margin-right: 1%;
    min-width: 50vw;
  }
  .zoom:active {
    transform: none;
  }
  .wrapperContact {
    max-width: 50%;
    min-height: 78vh;
    margin: auto;  
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;   
    }
    .wrapperContact div {
      margin-top: 2%;
      margin-bottom: 2%;
    }
    .wrapperContact img {
    max-width: 90vw; 
    }
}

@media (min-width: 1200px) {
  .rpgMain__article {
    max-width: 100%;
  }
  .rpgMain__BookCover {
    max-width: 60%;
    margin-right: 1%;
    float: left;
    max-height: 497px;
  }
  .zoom:active {
    transform: scale(1.5);
  }
  #artGallery img {
    max-width: 40vw;
    min-height: 100%;
  }
  .wrapperContact div {
  max-width: 25vw; 
  }  
  .wrapperContact img {
    max-width: 25vw;
  }
}

@-webkit-keyframes shadowPop {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e,
      4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e,
      8px 8px #3e3e3e;
    box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e,
      4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e,
      8px 8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}

@keyframes shadow-pop-br {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e,
      4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e,
      8px 8px #3e3e3e;
    box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e,
      4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e,
      8px 8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}
